* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.contenedor {
  margin: auto;
  width: 75%;
}

.menu {
  background: #0099ff;
  padding: 18px 0;

}

.menu .boton-responsive {
  display: none;
}

.menu .boton-responsive button {
  font-size: 25px;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  background: none;
  transition: 0.5s;
}

.menu .contenedor-noresponsive {
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.enlaces a{
  color: #ffffff;
	padding: 7px;
}

.links {
  position: relative;
  transition: 0.5s;
  font-size: 16px;
}

.links:hover, .boton-responsive button:hover  {
  color: #78dafa;
}

.links span {
  display: block;
  position: absolute;
  background: #78dafa;
}

.links span:nth-child(1) {
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.links:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}
.img1{
  width: 381px;
  height: 212px;
  display: inline-block;
}
.logo{
  display: inline-block;
  width: 620px;
  height: 140px;
}
.info{
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

@media screen and (max-width: 650px){
  .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .logo{
    margin-top: 10vh;
  }
}
@media screen and (max-width: 900px) {
  .img1{
    width: 254px;
    height: 141px;
  }
  .logo{
    width: 413px;
    height: 93px;
  }
  .menu .boton-responsive {
    display: flex;
  }
  .menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-noresponsive {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #0099ff;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}
	.menu .contenedor-noresponsive.activo {
		transform: translate(0%);
	}

	.menu .enlaces, .menu .cuenta {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}
}
@media screen and (max-width: 430px){
  .logo{
    width: 317px;
    height: 77px;
  }
}
